div.gitlab {
    background-color: #f7f7f7;
    margin: 0.5em;
    padding: 0.5em; 
}

hr.gitlab {
    border: 0;
    border-top: 1px solid #fca13e;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

img.gitlab {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
}

a.gitlab {
    font-size: 1.4em;
}

b.gitlab {
    font-size: 1.2em;
}
